//Page Defaults
$project-max-content-width: 1024px;

//Nav
$mobile-nav-height: 70px;
$tablet-nav-height: 75px;

%active-nav-link {
  color: $offset-font-color;
  background-image: url('~assets/navbar_swatch.png');
  background-repeat: no-repeat;
  background-position: center; 
}

//CTAs

@mixin centered-background() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%cta {
  @include x-pad($space-medium);
  @include y-pad($space-lighter);
  color: $brand-2;
  border: solid 2px $brand-2;
  border-radius: 25px;
    
  &:hover {
    color: $offset-font-color;
    background-color: $brand-2;
  }
}

//Theme
$project-border-radius: 10px;
$project-border-color: $shade-base;

$project-transition-duration: 0.3s;
