//Colors
$page-background: #eee;
$brand-1: #011627;
$brand-2: #117790;
$brand-3: #CF1326;
$brand-4: #587D71;

//????
$shade-light: rgb(233, 233, 233);

$shadow-default: hsl(0, 0%, 48%);

//Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font:  'Lato', sans-serif;

$offset-font-color: #E9E9E9;

/********SPACING********/

/****Inner****/
$space-lighter: 0.4rem ;
$space-light: 0.8rem ;
$space-medium: 1.2rem ;
$space-heavy: 1.6rem ;
$space-heavier: 2.4rem ;

/****Outer****/
$outer-space-lighter: 0.8rem ;
$outer-space-light: 1.2rem ;
$outer-space-medium: 1.8rem ;
$outer-space-heavy: 2.6rem ;
$outer-space-heavier: 4rem ;