//Colors
$brand-1: #011627;
$brand-2: #CF1326;
$brand-3: #754668;
$brand-4: #587D71;

//Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font:  'Lato', sans-serif;

$offset-font-color: #E9E9E9;