//Page Defaults

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-1;
}

.page-wrapper {
  min-height: 100vh;
}



//CTAs

.cta {
  @include x-pad($space-medium);
  @include y-pad($space-light);
  font-weight: 600;
  color: $brand-1;
  border: solid 2px $brand-1;
  border-radius: 25px;
    
  &:hover {
    color: $offset-font-color;
    background-color: $brand-1;
  }
}